@model PoorMansReddit.Models.AboutModel
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@foreach (var item in Model.Items)
{
<ul>
    <li>>@item.Title</li>
    <li><img src="@item.Image" /></li>
    <li><a href="@item.Link" target="_blank">Link</a></li>
</ul>
}